@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Lato|Russo+One|Paytone+One&display=swap&subset=latin-ext');
@import "scss/owl.carousel";
@import "scss/owl.theme.default";

$bgColor: #ffffff;
$bgColorArticle: #f1f0f0;
$hoverColor: rgb(75, 104, 116);
$fontColor: rgb(0, 0, 0);
$fontColor2: rgb(255, 255, 255);
$hamburgerColor: rgb(66, 86, 94);
$navigationColor: rgb(66, 86, 94);// rgb(56, 56, 56);
$fontelloIcon: rgb(0, 0, 0);

@mixin pargraphText{
    font-family: "Lato" sans-serif;
    word-spacing: 6px;
    text-indent: 50px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: justify;
}

*{
    padding: 0px;
    margin: 0px;
}
body{
    background: $bgColor;
    font-family: 'Josefin Sans', sans-serif;
    color: $fontColor;
}

a:link{
    text-decoration: none;
    cursor: pointer;
    transition: all 0.4s ease 0s;
}

a:hover{
    background: $hoverColor;
    //color: $fontColor;
    //text-shadow: 0 0 1px black;
}

li{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.hamburgerClose{
    > li {
        > div{
            background: transparent;
        }
        >div:before{
            background: black;
            transform: rotate(45deg);
            top: 0px;
        }
        >div:after{
            background: black;
            transform: rotate(-45deg);
            top: 0px;
        }
    }
}

.navigation{
    width: 100%;
    height: 50px;
    background: $navigationColor;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 0px $navigationColor;
    z-index: 100;


    &__item{
        position: relative;
        /*float: left; */
        font-size: 20px;
        color: $fontColor2;
        height: 64%;
        min-width: 140px;
        display: inline-block;
        text-align: center;
        padding: 13px 10px 0px;
        margin: 0px -2px;

        &:hover{
            transform: translateY(0px) scale(1);
        }
    }

    &__icon{
        display: none;
        width: 50px;
        height: 50px;
        background: $hamburgerColor;
        position: relative;
    }

    @mixin line{
        position: absolute;
        background: white;
        width: 35px;
        height: 5px;
        border-radius: 2px;
    }

    &__hamburger{
        @include line;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);

        &::before{
            content: "";
            @include line;
            left: 0;
            top: -12px;
            transform: rotate(0deg);
            transition: all 0.4s ease 0s;
        }
        &::after{
            content: "";
            @include line;
            left: 0;
            top: 12px;
            transform: rotate(0deg);
            transition: all 0.4s ease 0s;
        }
    }
}



@media screen and (max-width: 700px){
    .navigation__icon{
        cursor: pointer;
        float: left;
        display: block;
        position: absolute;
        top: 0px;
        right: 0px;
    }

    .navigation__item:not(:first-child){display: none;}
    .navigation__item{
        float: none;
        background: $navigationColor;
    }
}



.container{
    text-align: center;
    width: 100%;
    //padding-bottom: 40px;
   > #strona_glowna{
        background-image: url("../images/Webp.jpg");
        background-attachment: fixed;
        background-position: 50% 0;
        background-repeat: no-repeat;
        background-size: 200vh;
        height: 80vh;
        max-height: 700px;
        min-height: 400px;
   }

    &__div{
        background: $bgColor;
        &--first{
            background-color: rgba(0,0,0,0.3);
            height: 80vh;
            min-height: 400px;
        }
    }
    &__div--bgcolor{
        background: $bgColorArticle;
        z-index: 10;
    }
}


.article{
    color: $fontColor;
    //padding-top: 79px;
    max-width: 1000px;
    //min-height: 500px;
    margin: 0 auto;
    &__first{
        max-width: none;
    }
    //.icon-leaf:before{ color: $fontelloIcon; } /* '' */
    //.icon-home:before { color: $fontelloIcon; } /* '' */
    //.icon-mail-alt:before { color: $fontelloIcon; } /* '' */
    //.icon-shopping-bag:before { color: $fontelloIcon; } /* '' */


    &__header{
        font-size: 40px;
        margin: 0 auto;
        line-height: 80px;
        //text-align: left;
        //max-width: 1300px;
        letter-spacing: 7px;
        //vertical-align: middle;
        text-decoration: bold;
        //padding-bottom: 20px;
        //padding-left: 20px;
        //border-bottom: 2px solid black;
        //border-left: 10px solid red;
        color: white;
        text-transform: uppercase;
        background:  rgb(66, 86, 94);
        //background: #000;
        //border-radius: 0px 0px 25px 25px;
        box-shadow: 0px 5px 10px -4px rgba(0, 0, 0, 0.5);
        //border-right: 4px solid black;

        //text-shadow: 0px 0px 3px white;
        &--wazynski{
            text-decoration: none;
            text-align: center;
            border-bottom: 2px solid black;
            font-family: 'Paytone One', sans-serif !important;
            font-size: 8vw;
            margin: 20px 0;
            line-height: 10vw;
            text-transform: uppercase;
            letter-spacing: 20px;
            color: white;
            text-shadow: 0px 0px 3px black;
            background: none;
            box-shadow:none;
            border-radius: 0px;
            max-width: none;

        }
        &--szkolki{
            background: none;
            color: rgb(233, 233, 233);
            text-align: center;
            border-bottom: none;
            text-transform: capitalize;
            box-shadow:none;
            font-size: 40px;

        }

        &--kilka{
            text-align: center;
            text-transform: lowercase;
            box-shadow:none;
            background: none;
            color: black;

        }
    }
    &__logo{
        padding-top: 150px;
        text-align: center;
        text-align: center;
        .btn__transparent{
            display: inline-block;
            height: 26px;
            width: 148px;
            padding-top: 12px;
            margin-top: 20px;
            font-family: 'Josefin Sans', sans-serif;
            font-size: 18px;
            color: whitesmoke;
            letter-spacing: 3px;
            background-color: transparent;
            background-repeat:no-repeat;
            border: 2px solid black;
            cursor:pointer;
            overflow: hidden;
            transition: all 0.4s ease 0s;
            outline: none;
            &:hover{
               border: 2px solid white;
               transform: translateY(-7px);
           }
        }
    }
    &__Strona_Glowna{
        > p{
            @include pargraphText;
        }
            > p:last-child{
                margin-top: 20px;
                text-align: right;
                border: none;
                font-style: italic;
                margin-bottom: 30px;
            }
    }
    &__Aktualnosci{
        padding-bottom: 20px;
        .aktualnosci{
            &__header{
            //margin: 0px 15px;
            padding: 30px 25px 10px 15px;
            }

            &__parties{
                .parties{
                    &__article{
                        >h3{
                            text-align:left;
                            margin: 0px 20px 15px 20px;
                            border-bottom: 1px dotted  black;
                           // border-left: 2px solid black;
                            padding: 40px 0px 20px 0px;
                            color: gray;
                        }
                        >p{
                            @include pargraphText;
                            font-size: 20px;
                        }
                        >p:last-child{
                            text-align: right;
                        }
                    }
                }
            }
        }
        > p{
            @include pargraphText;
            font-size: 20px;
        }
    }
    &__Oferta{
        .offer{
            padding: 20px 0px;
            &__flexbox{
                display: flex;
                //flex-wrap: wrap;
                //flex-direction: row;
                flex-flow: wrap row;
                margin: 80px 10px 80px 10px;

                transition: box-shadow 0.3s;
                box-shadow: 0 0 20px -4px rgba(0,0,0,.2);
                &:hover{
                    box-shadow: 0 0 20px -4px rgba(0,0,0,.8);
                }
            }
            &__text{
                min-width: 250px;
                flex: 1;
                margin: 20px 15px 20px 15px;
                padding: 20px;
                order: 0;
                &--right{
                    order:1;
                }

                > h3{
                    margin: 40px 0px 40px 0px;
                    font-size: 40px;
                    text-transform:uppercase;
                    color: $navigationColor;
                }
            }
            &__gallery{
                min-width: 250px;
                flex: 1;
                margin: 20px 10px 20px 10px;
                order: 1;
                padding: 10px;
                &--left{
                    order: 0;
                }
                > img{
                    display: block;
                    margin: 0px;
                    padding: 0px;
                    height: 100%;
                    width: 100%;
                }
            }
            &__box-gallery{
                flex: 1 100%;
                transition: all 0.5s;
                max-height: 0px;
                overflow: hidden;
                order: 2;
            }

            &__btn{
                order:3;
                min-width: 200px;
                flex: 1 100%;
                border:none;
                margin: 20px 20px 10px 20px;
                text-align: center;
                background: DodgerBlue;
                padding: 10px;
                cursor: pointer;
                color: white;
                &:hover{
                    background: Royalblue;
                    border: none;
                    }
            }
            &__katalogue{
                width: 100%;
                margin: 0 auto;
                display: flex;
                >a {
                    flex: 1;
                    margin: 5px 20px 5px 20px;
                    .btn{
                        width: 100%;
                        text-align: center;
                        border: none;
                        background: DodgerBlue;
                        padding: 10px;
                        cursor: pointer;
                        color: white;
                        font-family: "Lato" sans-serif;
                        word-spacing: 6px;
                        font-size: 20px;
                        font-weight: 400;
                        &:hover{
                            background: Royalblue;
                        }
                    }
                }
            }
        }
        p{
            @include pargraphText;
            padding: 0px 0px;
            //line-height: 25px;
            position: relative;

            &::before{
                position: absolute;
                content: " ";
                display: inline-block;
                height: 100%;
                width: 5px;
                left:-20px;
                background: DodgerBlue;
            }
        }
    }
    &__Kontakt{

        .kontakt{
            padding: 20px 0px;
            .info{
                @include pargraphText;
            }
            &-box{
                text-align: left;
                min-height: 200px;
                margin: 50px 10px 50px 10px;
                display: flex;
                flex-flow: row wrap;
                box-shadow: 0 0 10px -5px rgba(0,0,0,.5);
                background: white;
            }
            &__data{
                flex: 1 250px;
                >p{
                    line-height: 32px;
                    font-size:16px;
                    padding-left: 25px;
                }
                .header{
                    padding: 20px 10px 5px 20px;
                    font-size: 30px;
                }

            }
            &__map{
                min-height: 200px;
                flex: 2 300px;
                //border: 2px solid red;
                >iframe{
                    width: 100%;
                    height: 100%;
                    border: none;
                }
            }
        }
    }

}

@media screen and (max-width: 700px){
    .article{
        &__header{
            font-size: 30px;
            line-height: 60px;
            &--wazynski{
                font-size: 40px;
            }
            &--szkolki{
                line-height: 30px;
                font-size: 30px;
            }
        }
    }
    .offer{
        &__flexbox{
            display: block;
        }
    }
}
@media screen and (max-width: 450px){
    .article{
        &__header{
            font-size: 20px;
            line-height: 60px;
            &--wazynski{
                font-size: 20px;
            }
            &--szkolki{
                line-height: 20px;
                font-size: 15px;
            }
        }
    }
}


@keyframes wysun{
    from {
        transform: translateY(-20px);
        height: 0px;
    }
    to {
        transform: translateY(0px);
        height: 300px;
    }
}

@keyframes wsun{
    from {
        transform: translateY(0px);
        height: 300px;
    }
    to {
        transform: translateY(-20px);
        height: 0px;
    }
}

@keyframes pokaz__p{
    from {
        transform: translateY(-40px);
    }
    to {
        transform: translateY(40px);
    }
}

.card{
    width: 80%;
    margin: 10px auto;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.7);
    //border-radius: 5px;
    //padding: 10px;
    background: rgb(224, 224, 224);

    display: flex;
    align-items: center;

    &__img{
        flex: 1;
        > img{
            width: 100%;
            height: 100%;
            //background: #fff;
        }
    }

    &__container{
        flex: 2;
        > h3{
            //margin-top: 15px;
            margin-bottom: 20px;
        }
        > p{
            padding: 0 5px;
        }
        >:last-child{
            margin-top: 15px;
            //margin-bottom: 5px;
        }
    }

}
@media screen and (max-width: 700px){
    .card{
        flex-direction: column;

        &__container{
            padding: 10px 5px;
        }
    }
}

.grid,
.grid2,
.grid3{
    display: flex;
    flex-flow: row wrap;
    margin: 20px;
    border-top: 2px solid dodgerblue;
    &-item{
        margin: 10px;
        flex: 1 200px;
        transition: all 0.5s;
        opacity:1;
        border: 1px solid lightgray;

        &:hover{
            transform: scale(1.3);
            box-shadow: 0 0 20px -2px rgba(0,0,0,0.9);
            opacity: 1;
            z-index: 1;
        }
    }
    img{
        display: inline-block;
        width: 100%;
        height: 100%;
    }
}

.myFooter{
    background: $navigationColor;
    color: white;
    font-size: 10px;
    text-align: right;
    padding: 5px 20px;
    >p:first-child{
        padding: 20px 0;
        font-size: 16px;
        text-align: center;


    }

}
