@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Lato|Russo+One|Paytone+One&display=swap');
@import "scss/owl.carousel";
@import "scss/owl.theme.default";

$bgColor: #eeeeee;
$bgColorArticle: #c4c4c4;
$hoverColor: rgb(255, 255, 255);
$fontColor: rgb(0, 0, 0);
$fontColor2: rgb(255, 255, 255);
$hamburgerColor: rgb(0, 0, 0);
$navigationColor: rgb(0, 0, 0);


*{
    padding: 0px;
    margin: 0px;
}
body{
    background: $bgColor;
    font-family: 'Josefin Sans', sans-serif;
    color: $fontColor;
}

a:link{
    text-decoration: none;
    cursor: pointer;
    transition: all 0.4s ease 0s;
}

a:hover{
    background: $hoverColor;
    color: $fontColor;
    //text-shadow: 0 0 1px black;
}

li{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.navigation{

    width: 100%;
    height: 50px;
    background: $navigationColor;
    text-align: center;
    position: fixed;
    top: 0;
    box-shadow: 0px 0px 0px $navigationColor;
    z-index: 100;

    &__item{
        position: relative;
        /*float: left; */
        font-size: 20px;
        color: $fontColor2;
        height: 64%;
        min-width: 140px;
        display: inline-block;
        text-align: center;
        padding: 18px 10px 0px;
        margin: 0px -3px;

    }

    &__icon{
        display: none;
        width: 50px;
        height: 50px;
        background: $hamburgerColor;
    }

    &__hamburger{
        background: rgb(255, 255, 255);
        width: 35px;
        height: 5px;
        margin:8px;
        border-radius: 2px;
    }

    .navigation__icon:hover{
        > li {
            > div{
                background: rgb(0, 0, 0);
            }
        }
    }
}

@media screen and (max-width: 700px){
    .navigation__icon{
        cursor: pointer;
        float: left;
        display: block;
        position: absolute;
        top: 0px;
        right: 0px;
    }

    .navigation__item:not(:first-child){display: none;}
    .navigation__item{
        float: none;
        background: $navigationColor;
    }
}


.container{
    text-align: center;
    width: 100%;
   /* padding-top: 20px;*/
    &__div{
        background: $bgColor;
        &--first{
            background-image: url("icon/Webp.jpg");
            background-attachment: fixed;
            background-position: 50% 0;
            background-repeat: no-repeat;
            background-size: cover;
            height: 80vh;
            max-height: 1200px;
            min-height: 200px;
        }
    }
    &__div--bgcolor{
        background: $bgColorArticle;
    }
}

.article{
    color: $fontColor;
    padding-top: 79px;
    max-width: 1000px;
    //min-height: 500px;
    margin: 0 auto;
    &__first{
        max-width: none;
    }

    &__header{
        font-size: 30px;
        letter-spacing: 15px;
        color: black;
        vertical-align: middle;
        text-decoration: bold;
        padding-bottom: 20px;

        //text-shadow: 0px 0px 3px white;
        &--first{
            border-bottom: 2px solid black;
            font-family: 'Paytone One', sans-serif;
            font-size: 8vw;
            margin: 20px 0;
            padding-bottom: 0px;
            text-transform: uppercase;
            letter-spacing: 20px;
            color: white;
            text-shadow: 0px 0px 3px black;
        }
    }
    &__logo{
        margin-top: 150px;
        text-align: center;
        text-align: center;
        .btn__transparent{
            display: inline-block;
            height: 26px;
            width: 148px;
            padding-top: 12px;
            margin-top: 20px;
            font-family: 'Josefin Sans', sans-serif;
            font-size: 16px;
            color: black;
            letter-spacing: 4px;
            background-color: Transparent;
            background-repeat:no-repeat;
            border: 2px solid black;
            cursor:pointer;
            overflow: hidden;
            transition: all 0.4s ease 0s;
            outline: none;
            &:hover{
               border: 2px solid white;
               transform: translateY(-7px);
           }
        }
    }
    &__Strona_Glowna{
        > p{
            font-family: "Lato" sans-serif;
            word-spacing: 6px;
            text-indent: 50px;
            padding: 10px 20px;
            font-size: 20px;
            font-weight: 400;
            line-height: 30px;
            //font-size: 1.8vw;
            text-align: justify;
        }
            > p:last-child{
                margin-top: 20px;
                text-align: right;
                border: none;
                font-style: italic;
                margin-bottom: 30px;
            }
    }
    &__Aktualnosci{
        >h3{
            margin: 20px 0 15px 0;
        }
        > p{
            font-family: "Lato" sans-serif;
            word-spacing: 6px;
            padding: 10px 20px;
            font-size: 20px;
            font-weight: 400;
            line-height: 30px;
            //font-size: 1.8vw;
            text-align: justify;
        }
    }
    &__Oferta{
        > p{
            font-family: "Lato" sans-serif;
            word-spacing: 6px;
            text-indent: 50px;
            padding: 10px 20px;
            font-size: 20px;
            font-weight: 400;
            line-height: 30px;
            //font-size: 1.8vw;
            text-align: justify;
        }
    }
    &__Kontakt{
        > p{
            font-family: "Lato" sans-serif;
            word-spacing: 6px;
            text-indent: 50px;
            padding: 10px 20px;
            font-size: 20px;
            font-weight: 400;
            line-height: 30px;
            //font-size: 1.8vw;
            text-align: justify;
        }
    }

}

.card{
    width: 80%;
    margin: 10px auto;
    box-shadow: 0px 0px 10px black;
    border-radius: 5px;
    padding: 10px;
    background: #eee;
    &__img{
        display: inline-block;
        width: 40%;
        height: 100%;
        vertical-align: top;
        > img{
            display: block;
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
            background: #fff;
        }
    }

    &__container{
        display: inline-block;
        vertical-align: text-bottom;
        width:58%;
        height: 100%;
        > h3{
            margin-bottom: 20px;
            margin-top: 20px;
        }
        >:last-child{
            margin-top: 15px;
        }
    }
}
@media screen and (max-width: 700px){
    .card{
        &__img{
            display: inline;
        }
        &__container{
            display: inline;
        }
    }
}



.myFooter{
    background: #000000;
    color: white;
    font-size: 10px;
    text-align: right;
    padding: 5px 20px;
    >p:first-child{
        padding: 20px 0;
        font-size: 16px;
        text-align: center;


    }

}
