@import url("https://fonts.googleapis.com/css?family=Josefin+Sans|Lato|Russo+One|Paytone+One&display=swap");
/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  touch-action: manipulation;
  -moz-backface-visibility: hidden;
  /* fix firefox animation glitch */
}

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}

.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next,
.owl-carousel button.owl-dot {
  background: none;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
}

.owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}

.owl-carousel.owl-hidden {
  opacity: 0;
}

.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}

.owl-carousel.owl-drag .owl-item {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel.owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.owl-carousel.owl-rtl {
  direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */
.no-js .owl-carousel {
  display: block;
}

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
  z-index: 0;
}

.owl-carousel .owl-animated-out {
  z-index: 1;
}

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item {
  /**
			This is introduced due to a bug in IE11 where lazy loading combined with autoheight plugin causes a wrong
			calculation of the height of the owl-item that breaks page layouts
		 */
}

.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-item .owl-lazy[src^=""], .owl-carousel .owl-item .owl-lazy:not([src]) {
  max-height: 0;
}

.owl-carousel .owl-item img.owl-lazy {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform 100ms ease;
  transition: -webkit-transform 100ms ease;
  transition: transform 100ms ease;
  transition: transform 100ms ease, -webkit-transform 100ms ease;
}

.owl-carousel .owl-video-play-icon:hover {
  -webkit-transform: scale(1.3, 1.3);
          transform: scale(1.3, 1.3);
}

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}

/*
 * 	Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  vertical-align: bottom;
}

.owl-theme .owl-nav [class*='owl-'] {
  color: #FFF;
  font-size: 14px;
  margin: 5px 5px 10px 5px;
  padding: 4px 7px;
  background: #222;
  cursor: pointer;
  border-radius: 3px;
}

.owl-theme .owl-nav [class*='owl-']:hover {
  background: #666;
  color: #FFF;
  text-decoration: none;
}

.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default;
}

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px;
}

.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  margin-bottom: 8px;
}

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #222;
  display: block;
  backface-visibility: visible;
  -webkit-backface-visibility: visible;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  border-radius: 30px;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #666;
}

* {
  padding: 0px;
  margin: 0px;
}

body {
  background: #eeeeee;
  font-family: 'Josefin Sans', sans-serif;
  color: black;
}

a:link {
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

a:hover {
  background: white;
  color: black;
}

li {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.navigation {
  width: 100%;
  height: 50px;
  background: black;
  text-align: center;
  position: fixed;
  top: 0;
  -webkit-box-shadow: 0px 0px 0px black;
          box-shadow: 0px 0px 0px black;
  z-index: 100;
}

.navigation__item {
  position: relative;
  /*float: left; */
  font-size: 20px;
  color: white;
  height: 64%;
  min-width: 140px;
  display: inline-block;
  text-align: center;
  padding: 18px 10px 0px;
  margin: 0px -3px;
}

.navigation__icon {
  display: none;
  width: 50px;
  height: 50px;
  background: black;
}

.navigation__hamburger {
  background: white;
  width: 35px;
  height: 5px;
  margin: 8px;
  border-radius: 2px;
}

.navigation .navigation__icon:hover > li > div {
  background: black;
}

@media screen and (max-width: 700px) {
  .navigation__icon {
    cursor: pointer;
    float: left;
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
  }
  .navigation__item:not(:first-child) {
    display: none;
  }
  .navigation__item {
    float: none;
    background: black;
  }
}

.container {
  text-align: center;
  width: 100%;
  /* padding-top: 20px;*/
}

.container__div {
  background: #eeeeee;
}

.container__div--first {
  background-image: url("icon/Webp.jpg");
  background-attachment: fixed;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  max-height: 1200px;
  min-height: 200px;
}

.container__div--bgcolor {
  background: #c4c4c4;
}

.article {
  color: black;
  padding-top: 79px;
  max-width: 1000px;
  margin: 0 auto;
}

.article__first {
  max-width: none;
}

.article__header {
  font-size: 30px;
  letter-spacing: 15px;
  color: black;
  vertical-align: middle;
  -webkit-text-decoration: bold;
          text-decoration: bold;
  padding-bottom: 20px;
}

.article__header--first {
  border-bottom: 2px solid black;
  font-family: 'Paytone One', sans-serif;
  font-size: 8vw;
  margin: 20px 0;
  padding-bottom: 0px;
  text-transform: uppercase;
  letter-spacing: 20px;
  color: white;
  text-shadow: 0px 0px 3px black;
}

.article__logo {
  margin-top: 150px;
  text-align: center;
  text-align: center;
}

.article__logo .btn__transparent {
  display: inline-block;
  height: 26px;
  width: 148px;
  padding-top: 12px;
  margin-top: 20px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  color: black;
  letter-spacing: 4px;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: 2px solid black;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  outline: none;
}

.article__logo .btn__transparent:hover {
  border: 2px solid white;
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

.article__Strona_Glowna > p {
  font-family: "Lato" sans-serif;
  word-spacing: 6px;
  text-indent: 50px;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: justify;
}

.article__Strona_Glowna > p:last-child {
  margin-top: 20px;
  text-align: right;
  border: none;
  font-style: italic;
  margin-bottom: 30px;
}

.article__Aktualnosci > h3 {
  margin: 20px 0 15px 0;
}

.article__Aktualnosci > p {
  font-family: "Lato" sans-serif;
  word-spacing: 6px;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: justify;
}

.article__Oferta > p {
  font-family: "Lato" sans-serif;
  word-spacing: 6px;
  text-indent: 50px;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: justify;
}

.article__Kontakt > p {
  font-family: "Lato" sans-serif;
  word-spacing: 6px;
  text-indent: 50px;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: justify;
}

.card {
  width: 80%;
  margin: 10px auto;
  -webkit-box-shadow: 0px 0px 10px black;
          box-shadow: 0px 0px 10px black;
  border-radius: 5px;
  padding: 10px;
  background: #eee;
}

.card__img {
  display: inline-block;
  width: 40%;
  height: 100%;
  vertical-align: top;
}

.card__img > img {
  display: block;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: #fff;
}

.card__container {
  display: inline-block;
  vertical-align: text-bottom;
  width: 58%;
  height: 100%;
}

.card__container > h3 {
  margin-bottom: 20px;
  margin-top: 20px;
}

.card__container > :last-child {
  margin-top: 15px;
}

@media screen and (max-width: 700px) {
  .card__img {
    display: inline;
  }
  .card__container {
    display: inline;
  }
}

.myFooter {
  background: #000000;
  color: white;
  font-size: 10px;
  text-align: right;
  padding: 5px 20px;
}

.myFooter > p:first-child {
  padding: 20px 0;
  font-size: 16px;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */