$bgColor: #999999;
$secondColor: rgb(0, 163, 41);
$fontColor: rgb(255, 255, 255);
$hamburgerColor: rgb(255, 255, 255);
$navigationColor: #000;


*{
    padding: 0px;
    margin: 0px;
}
body{
    background: $bgColor;
}

a:link{
    text-decoration: none;
    cursor: pointer;
}

a:hover{
    background: $bgColor;
}

li{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.navigation{
    width: 100%;
    height: 39px;
    background: $navigationColor;

    &__item{
        position: relative;
        float: left;
        color: $fontColor;
        height: 30px;
        min-width: 110px;
        text-align: center;
        display: block;
        padding: 9px 0px 0px;
        border-right: 1px solid $bgColor;
    }
    &__item:first-child{
        background: $secondColor;
    }
    &__icon{

        display: none;
    }
    &__hamburger{
        background: $hamburgerColor;
        width: 35px;
        height: 5px;
        margin:6px;
        border-radius: 2px;
    }
    }

@media screen and (max-width: 600px){
    .navigation__icon{
        cursor: pointer;
        float: left;
        display: block;
        position: absolute;
        top: 0px;
        right: 0px;
    }
    .navigation__item:not(:first-child){display: none;}
    .navigation__item{

        float: none;
        background: $navigationColor;
    }
}

.container{
    text-align: center;
    width: 100%;
    padding-top: 20px;

    &__div--bgcolor{
        background: rgb(77, 77, 77);
    }
    &__article{
        max-width: 1000px;
        min-height: 400px;
        margin: 0 auto;
    }

    &__header{
        margin: 20px 0;
        padding-top: 20px;
        font-size: 25px;

    }
}
